[submodule "emacs-config"]
	path = emacs/dot-config/emacs
	url = git@github.com:yamad/emacs-config.git
[submodule "fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
    shallow = true
[submodule "zsh-powerlevel10k"]
	path = zsh/dot-config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
    shallow = true
